h1, p {
  font-family: Lato;
}
button:hover {
  cursor: pointer;
}
.click-button {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.click-button:active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.click-button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.click-button:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}